@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: #000;
}

.sidebar a {
  transition: color 0.2s;
  display: inline-block;
  padding: .05em;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  color: hsl(0, 0%, 70%);
}

.sidebar a:hover {
  color: hsl(0, 0%, 90%);
}

.card {
  background-color: #f5d78c;
  border: none;
  color: hsl(43, 84%, 20%);
  min-width: 20em;
}

.card .badge {
  background-color: #e2bb58;
  color: hsl(43, 70%, 20%);
  font-size: 1em;
}

span.result {
  font-size: 3em;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

div.viewport {
  margin: 1em 1em;
}

.viewport {
  position: relative;
  cursor: grab;
}

.viewport:active {
  position: relative;
  cursor: grabbing;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
  display: none;
}